.footer {
  background-color: var(--secondary-black-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container--footer {
  display: flex;
  align-items: baseline;
}

.footer__address {
  flex-grow: 1;
}

.adress__list {
  font-size: 14px;
  line-height: 1.71;
}

.address__page {
  margin-top: 20px;
}

.location {
  color: var(--primary-white-color);
  text-decoration: none;
}

.address__item {
  font-style: normal;
  list-style: none;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
